section {
  background-color: white;
}
.style-chart {
  margin-top: 5%;
}
.style-form {
  margin-left: 10%;
  margin-right: 10%;
}
.style-title {
  margin-left: 0%;
  padding-top: 10%;
}
.style-card {
  border: 0px;
  padding-bottom: 5%;
}
.style-fraction {
  text-align: center;
  font-size: x-large;
  position: absolute;
}
.style-a {
  padding-top: -10%;
}
.style-b {
  padding-top: 3%;
}