<section>
    <div class="container style-terms">
      <div class="card style-card">        
          <div class="card-body">
            <h4 class="card-title style-title">Termos de Uso</h4>
            <p class="style-text">
                <b>1. ACEITAÇÃO:</b><br>
                Este é um contrato firmado entre você, 
                de agora em diante denominado como usuário, e o Lamid. 
                Este “Termo de Uso de Aplicativo” 
                rege o uso de todos os aplicativos disponibilizados 
                gratuitamente pelo Lamid sejam para dispositivos móveis 
                (Android, IOS, Windows Mobile), servidores, 
                computadores pessoais (desktops) ou serviços web. 
                Se você não concordar com estes termos não use este aplicativo. 
                Você reconhece ainda que analisou e aceitou as condições de uso. 
                Leia-as atentamente pois o uso deste aplicativo 
                significa que você aceitou todos os termos e concorda em cumpri-los. 
                Se você, usuário, for menor de idade ou declarado incapaz em quaisquer aspectos, 
                precisará da permissão de seus pais ou responsáveis que 
                também deverão concordar com estes mesmos termos e condições.
            </p><br>            
            <p class="style-text">
                <b>2. LICENÇA LIMITADA:</b><br>
                Você recebeu uma licença limitada, não transferível, não exclusiva, 
                livre de royalties e revogável para baixar, instalar, 
                executar e utilizar este aplicativo em seu dispositivo. 
                Você reconhece e concorda que a Lamid concede ao usuário 
                uma licença exclusiva para uso e desta forma não lhe transfere 
                os direitos sobre o produto. O aplicativo deverá ser utilizado por você, 
                usuário. A venda, transferência, modificação, 
                engenharia reversa ou distribuição bem como a cópia de textos, 
                imagens ou quaisquer partes nele contido é expressamente proibida.
                <br>...
            </p><br>
            <p class="style-text">
                <b>Leia o termo na íntegra:</b><br><br>
                <a href="https://calcfraction.orkneytech.com.br/docs/termos-de-uso-appcalcfraction.pdf" target="_blank">Termo de Uso</a>
            </p>                                 
            
          </div>                        
      </div>
    </div>
</section>

