<section>
    <div class="container style-home">
      <img class="style-logo" src="/assets/images/logo.png" alt="logo"><br>
      <p class="style-subtitle">Simulador para Operações com Frações</p>
      <div class="card style-card">
        
          <div class="card-body">
            <h4 class="card-title style-text">Iniciar uma Operação</h4>            
              <span class="style-icon">
                <button class="btn btn-link" (click)="calc()">
                  <i class="fas fa-chart-pie fa-5x"></i>
                </button>                
              </span>                   
          </div>                        
      </div>
    </div>
</section>
